* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{

background-image: url(contract.jpg);
background-position: center;
background-repeat: no-repeat;

    
}
.logo{
    padding: 0;
    margin: 0;
}
.form-div { 
    opacity: 1;
    top: 100px;
    border: 1px solid #e0e0e0;
    background-color: rgba(0,0,0, 0.7); }

 input[type=password] ,input[type=email] {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 30px;
}
